{% assign productId = product.id %}

<div id="justUpsellAppBlock-container" productid="{{productId}}"></div>

{% schema %}
	{
		"name": "JustUpsell",
		"target": "body",
		"javascript": "justUpsellAppBlock.js",
		"settings": []
	}
{% endschema %}